@import "tailwindcss";
@tailwind utilities;
@import url("https://rsms.me/inter/inter.css");
@import url('https://googleapis.com');

@theme{
  --color-blue: #1A73E8;
  --color-darkblue: #1B4F94;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
}


.inter {
  font-family: "Inter", sans-serif;
}